.cart-item {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 8px #ccc;

	&:last-child {
		border-bottom: none;
	}
}

.cart-item-name {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.checkout-button {
	border: none;
	padding: 8px 15px;
	border-radius: 4px;
	color: #fff;
	background-color: #483;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background-color: lighten(#483, 7);
	}
}
