.product-item {
	background-color: #fff;
	box-shadow: 1px 1px 8px #ccc;
	border-radius: 10px;
}

.add-to-cart-button {
	border: none;
	padding: 8px 15px;
	border-radius: 4px;
	color: #fff;
	background-color: #469;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background-color: lighten(#469, 7);
	}
}
